.header__icon {
    grid-column: 1/2;
}

.header__icon .icon {
    width: 80px;
}

.masthead-container {
    background-image: url("https://s3-media0.fl.yelpcdn.com/educatorphoto/_tmAs95FomIea9WFlZ0tKA/o.jpg");
    background-size: 1024px;
    background-repeat: no-repeat;
    height: 682px;
    display: grid;
    grid-template-rows: 44.4px 1fr 8fr 2fr;
    grid-template-columns: minmax(60px, 1fr) minmax(auto, 600px) minmax(auto, 1fr);
    padding: 24px 40px;
}

@media screen and (min-width: 1025px) {
    .masthead-container {
        background-size: 100%;
    }
}

/* .header {
    grid-column: 1/4;
    /* padding: 18px 24px; */


.header__search-area {
    grid-row: 1/2;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.header__search-area__searchbar {
    display: flex;
    flex-direction: row;
    /* padding: 3px; */
    background-color: rgb(249, 249, 249);
    border-radius: 4px;
    /* width: 100%; */
}


.header__search-area__searchbar #search-items {
    background-color: rgb(249, 249, 249);
    border-radius: 4px 0px 0px 4px;
    flex-grow: 1;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2d2e2fca;
    font-size: 16px;
    padding: 13px 16px;
}

.header__search-area__searchbar #location {
    background-color: rgb(249, 249, 249);
    flex-grow: 1;
    padding: 13px 16px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #2d2e2fca;
}

.header__search-area__searchbar #divider {
    background-color: #ebebeb;
    background-size: 2px 24px;
    width: 2px;
    height: 24px;
    top: 12px;
    position: relative;
}

.header__search-area__dropdowns {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.header__search-area__searchbar #search-button {
    padding: 4px;
    color: rgb(249, 249, 249);
    font-weight: lighter;
    font-size: 20px;
    background-color: rgb(224, 7, 7);
    border-radius: 0px 4px 4px 0px;
    width: 44.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__action-buttons {
    grid-column: 3/4;
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.header__action-buttons__borderless {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600px;
    color: rgb(249, 249, 249);
    size: 100px 20px;
    padding: 8px;
    border-radius: 4px;
    transition-property: background-color;
    /* border: 1px solid red; */
}

.header__action-buttons__borderless:hover,
.header__action-buttons__login:hover {
    background-color: rgba(249, 249, 249, 0.20);
}

.header__action-buttons__login {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800px;
    color: rgb(249, 249, 249);
    line-height: 24px;
    size: 46px 20px;
    padding: 8px 16px;
    border: 2px solid rgba(249, 249, 249);
    border-radius: 4px;
    transition: background-color 1s;
}

.header__action-buttons__sign-up {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800px;
    color: rgb(249, 249, 249);
    line-height: 24px;
    size: 46px 20px;
    padding: 8px 16px;
    background-color: rgb(224, 7, 7);
    border-radius: 4px;
}


.dropdown-menu>.label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 16px 16px 11px 16px;
    transition: border-bottom;
    color: rgba(255, 255, 255, 1);
}

.dropdown-menu>.label>a>i {
    padding-left: 10px;
    font-size: 12px;
}

.dropdown-menu__pop-up {
    background-color: rgba(255, 255, 255, 1);
    width: 300px;
    height: 220px;
    position: absolute;
    border-radius: 0 6px 6px 6px;
    opacity: 0;
    padding: 8px;
    transition-property: opacity;
}

.dropdown-menu>.label:hover {
    border-bottom: 5px solid rgb(225, 76, 60);
}

.dropdown-menu>.label:hover+.dropdown-menu__pop-up {
    opacity: 1;
}
