.header__icon {
    /* grid-column: 1/2; */
    grid-area: icon;
    /* grid-area: actions; */
}

.header__icon .icon {
    width: 80px;
}

* {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead-container {
    grid-template-areas:
        "icon searchbar actions"
        ". dropdowns dropdowns"
        ". advertisement .";
    background-image: url("https://s3-media0.fl.yelpcdn.com/educatorphoto/_tmAs95FomIea9WFlZ0tKA/o.jpg");
    background-size: 1024px;
    background-repeat: no-repeat;
    height: 682px;
    display: grid;
    grid-template-rows: 44.4px 1fr 10fr;
    grid-template-columns: minmax(90px, 1fr) minmax(auto, 600px) minmax(auto, 2fr);
    padding: 24px 40px;
    column-gap: 10px;
}

@media screen and (min-width: 1025px) {
    .masthead-container {
        background-size: 100%;
    }
}

/* .header {
    grid-column: 1/4;
    /* padding: 18px 24px; */


.header__search-area {
    /* grid-row: 1/2;
    grid-column: 2/3; */
    grid-area: searchbar;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.header__search-area__searchbar {
    display: flex;
    flex-direction: row;
    /* padding: 3px; */
    background-color: rgb(249, 249, 249);
    border-radius: 4px;
    /* width: 100%; */
}


.header__search-area__searchbar #search-items {
    background-color: rgb(249, 249, 249);
    border-radius: 4px 0px 0px 4px;
    flex-grow: 1;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #2d2e2fca;
    font-size: 16px;
    padding: 13px 16px;
    width: max-content;
}

.header__search-area__searchbar #location {
    background-color: rgb(249, 249, 249);
    flex-grow: 1;
    padding: 13px 16px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #2d2e2fca;
    width: max-content;
}

.header__search-area__searchbar #divider {
    background-color: #ebebeb;
    background-size: 2px 24px;
    width: 2px;
    height: 24px;
    top: 12px;
    position: relative;
}

.header__search-area__searchbar #search-button {
    padding: 4px;
    color: rgb(249, 249, 249);
    font-weight: lighter;
    font-size: 20px;
    background-color: rgb(224, 7, 7);
    border-radius: 0px 4px 4px 0px;
    width: 44.4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__action-buttons {
    /* grid-row: 1/2;
    grid-column: 3/4; */
    grid-area: actions;
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 16px;
}

.header__action-buttons>button {
    width: max-content;
}

.header__action-buttons__borderless {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600px;
    color: rgb(249, 249, 249);
    size: 100px 20px;
    padding: 8px;
    border-radius: 4px;
    transition-property: background-color;
    /* border: 1px solid red; */
}

.header__action-buttons__borderless:hover,
.header__action-buttons__login:hover {
    background-color: rgba(249, 249, 249, 0.20);
}

.header__action-buttons__login {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800px;
    color: rgb(249, 249, 249);
    line-height: 24px;
    size: 46px 20px;
    padding: 8px 16px;
    border: 2px solid rgba(249, 249, 249);
    border-radius: 4px;
    transition: background-color 1s;
}

.header__action-buttons__sign-up {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 800px;
    color: rgb(249, 249, 249);
    line-height: 24px;
    size: 46px 20px;
    padding: 8px 16px;
    background-color: rgb(224, 7, 7);
    border-radius: 4px;
}

.header__search-area__dropdowns {
    /* grid-row: 2/3;
    grid-column: 2/4; */
    grid-area: dropdowns;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.dropdown-menu>.label {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 16px 16px 11px 16px;
    border-bottom: 5px solid rgba(225, 76, 60, 0);
    transition: border-bottom-color 200ms;
    color: rgba(255, 255, 255, 1);
    width: max-content;
}

.dropdown-menu>.label>a>i {
    padding-left: 10px;
    font-size: 12px;
}

.dropdown-menu__pop-up {
    background-color: rgba(255, 255, 255, 1);
    width: 280px;
    height: 190px;
    position: absolute;
    border-radius: 0 6px 6px 6px;
    opacity: 0;
    padding: 8px;
    z-index: -1;
    transition-property: opacity z-index;
    transition-duration: 100ms;
}

.dropdown-menu>.label:hover {
    border-bottom-color: rgb(225, 76, 60);
}

.dropdown-menu>.label:hover+.dropdown-menu__pop-up {
    z-index: 1;
    opacity: 1;
}

.dropdown-menu__list {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 30px 1fr 30px 1fr;
    grid-auto-flow: column;
    padding: 0px 10px;
}

.dropdown-menu__item {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #2d2e2f;
}

.dropdown-menu__item>i {
    font-size: 18px;
    padding-right: 4px;
}

.advertisement-cell {
    /* grid-row: 3/4;
    grid-column: 2/3; */
    grid-area: advertisement;
    display: grid;
    grid-auto-flow: column;
    /* background-color: blue; */
    grid-template-areas:
        "bar1 text"
        "bar2 text"
        "bar3 text"
        "subhead subhead";
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-columns: 50px 1fr;
    padding: 5px;
}

.advertisement-cell>.loading-bar--unloaded {
    width: 10px;
    height: 90px;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.20);
    /* align-self: center; */
}

.loading-bar--unloaded:first-child {
    grid-area: bar1;
}

.loading-bar--unloaded:first-child+.loading-bar--unloaded {
    grid-area: bar2;
    /* background-color: red; */
}

.loading-bar--unloaded:first-child+.loading-bar--unloaded+.loading-bar--unloaded {
    grid-area: bar3;
    /* background-color: green; */
}

.loading-bar--animated {
    width: 10px;
    height: 0px;
    border-radius: 5px;
    background-color: #ebebeb;
    /* align-self: center; */
}

.loading-bar--animated#first {
    grid-area: bar1;
    animation: timer1 15s infinite linear;
}

@keyframes timer1 {
    from {
        height: 0px;
    }

    33%,
    100% {
        height: 90px;
    }
}

.loading-bar--animated#second {
    grid-area: bar2;
    animation: timer2 15s infinite linear;
}

@keyframes timer2 {

    from,
    33% {
        height: 0px;
    }


    66%,
    100% {
        height: 90px;
    }
}

.loading-bar--animated#third {
    grid-area: bar3;
    animation: timer3 15s infinite linear;
}

@keyframes timer3 {

    from,
    66% {
        height: 0px;
    }

    100% {
        height: 90px;
    }
}

.advertisement-cell__text {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: rgb(249, 249, 249);
    font-size: 48px;
    font-weight: bold;
    grid-area: text;
    display: flex;
    flex-direction: column;
}

.advertisement-cell__text>span {
    padding: 15px 0px;
}

.advertisement-cell__text#first {
    animation: text1 15s infinite linear;
}

@keyframes text1 {

    1%,
    32% {
        opacity: 1;
    }

    from,
    34%,
    to {
        opacity: 0;
    }
}

.advertisement-cell__text#second {
    animation: text2 15s infinite linear;
}

@keyframes text2 {

    from,
    32%,
    67%,
    to {
        opacity: 0;
    }

    34%,
    65% {
        opacity: 1;
    }
}

.advertisement-cell__text#third {
    animation: text3 15s infinite linear;
}

@keyframes text3 {

    from,
    65%,
    to {
        opacity: 0;
    }

    67%,
    99% {
        opacity: 1;
    }
}

.advertisement__search {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 16px;
    padding: 12px 28px;
    background-color: rgb(224, 7, 7);
    border-radius: 4px;
    text-justify: center;
}

.advertisement__search>i {
    font-size: 26px;
    padding-right: 8px;
}
